@import url("https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{

width: 100%;
overflow-x: hidden;
}
header {
    background-color: #fafaf6;
    height: 4.5rem;
    position: sticky;
    width: 100%;
    top: 0;
}
.container{
    width: min(90%, 1120px);
 margin-inline: auto;
}
header{
    background-color: rgb(237, 233, 233);
    position: sticky;
  width: 100%;
  top: 0;
    
}
.tan-labaad{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    list-style: none;
    padding: 10px;
}
.info{
    display: flex;
     list-style: none;
     color: black;
     margin-top: 10px;
}
 .info li a{
    text-decoration: none;
    margin: 30px;
    color: black;
}
.info a:hover{
    color: #ed563b;
}
.giloga:hover{
    color: #ed563b;

}
#rahmo{
    color: #ed563b;
}
.btn{
    padding: 10px;
    background-color: #ed563b;
    color: white;
}
.muna{
    height: 100vh;
background:linear-gradient(rgba(249, 251, 251, 0.3), rgba(245, 237, 237, 0.3)), url(https://images.unsplash.com/photo-1605296867304-46d5465a13f1?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) center/ cover no-repeat;
}
.add{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.hero{
    display: flex;
    flex-direction: column;
    margin-top: 300px;
}
 #dhan{
    display: flex;
    font-size: 6rem;
    color: whitesmoke;
    margin-top: 20px;
}
#ad{
    color: #ed563b;
}
.hero p{
    font-size: 1.9rem;
    margin-inline: auto;
    font-weight: 400;
    padding: 20px;
    color: white;
}
.yoga{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    gap: 20px;
}
.yoga img{
    width: 50px;
}
#namber{
    display: flex;
}
#namb{
    color: #ed563b;
}
.boxs{
    display: grid;
    grid-template-columns:1fr 1fr ;
    margin-top: 80px;
    gap: 30px;
}
.boxs img{
    padding: 10px;
}
.box{
    display: flex;
    padding: 10px;
    gap: 30px;
}
.box2 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.uur{
    
    color: #6c757d;;
}
.box2 h4{
padding: 10px;
}
#al{
    color: #ed563b;
 }
 .nimco{
    background: url("https://templatemo.com/templates/templatemo_548_training_studio/assets/images/cta-bg.jpg");
    width: 100%;
    height: 40vh;
}
.nasro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
}
.main{
    display: flex;
}
.amiir{
    margin-top: 80px;
}
.amiir span{
    font-size: 3rem;
    font-weight: 400px;
    color: white;
}
.amiir p{
    color: white;
    margin-top: 10px;
    display: flex;
}
.btn2{
background-color: #ed563b;
    color: white;
    padding: 20px 25px;
    border-radius: 1px;
    border: 0 solid white;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn2:hover{
    color: white;
}
.alx{
    font-size: 1.2rem;
}
#dhol{
    color: #ed563b;
}
#dhis{
    color: #ed563b;
}
.salad{
    display: flex;
    flex-direction: column;
margin-top: 80px;
justify-content: center;
text-align: center;
 }
 .salad img{
   width: 50px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}
#namber{
    justify-content: center;
    text-align: center;
}
.section {
  display: flex;
  gap: 150px;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
}

/* BIDIX */
.left {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: space-around;
  text-align: center;
  border-radius: 50%;
  border: 10px solid white;
  
}
.card h1{
    font-size: 1.3rem;
    margin-top: 10%;
    
}
.card{
    display: flex;
  width: 250px;
  width: 120%;
box-shadow: 0 0 4px;
padding: 10px 10px;
border: 10px solid white;
background-color: white;
}
.card:hover{
    color: #ed563b;
}

.card img {
  width: 20%;
  height: 60%;
  margin-top: 15px;
  padding: 5px 5px;
  left: 20px;
}

/* MIDIG */
.right {
  
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-bottom: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.phone{
    position: relative;
    right:  5px;
}
.phone p{
   font-size: 1.2rem;
    line-height: 1.8;
    color: #555;
    margin-bottom: 30px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.right img {
  width: 180%;
  height: 50%;
  margin-top: 20px;
}

button {
  margin-top: 10px;
  padding: 9px 15px;
 }
 .btn3{
    width: 120%;
    color:white;
    background-color: #ed563b;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid white;
 }
 .xx{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}
.xx p{
    padding: 20px;
    color: white;
}
.xxl h2{
    justify-content: center;
    text-align: center;
    padding: 30px;
    display: flex;
    color: white;
}
 #my{
    display: flex;
    color: white;
    margin-top: 50px;
    gap: 10px;
    justify-content: center;
    text-align: center;
}
.x{
    color: #ed563b;
}
.xx img{
    width: 50px;
}


.xxl{
    height: 150vh;
    background: url(https://templatemo.com/templates/templatemo_548_training_studio/assets/images/schedule-bg.jpg)center/cover no-repeat;
    padding: 10px;
    margin-top: 80px;
    display: flex;
}
.xx {
    font-size: 1.1rem;
    justify-content: center;
    text-align: center;
    position: relative;
}

.mytable th,
.mytable td {
  border: 1px solid black;
  padding: 50px;
  position: relative;
    left: 120px;
  
}

.mytable th{
    color: white;
}
.mytable td {
  color: white;
}
#my{
    display: flex;
    
}
.abdi{
    display: flex;
    flex-direction: column;
   border-radius: 5px;
   box-shadow: 0  10px 1px;
   padding: 15px;
}
.ali img{
    width: 90%;
    margin: 0 auto;
    padding: 10px;
}
.abdi .abdil{
    display: flex;
    flex-direction: column;
}
.ali{
    display: flex;
    margin-top: 10%;
    gap: 20px;
}
.abdi p{
font-size: 14px;
line-height: 25px;
color: #7a7a7a;
}
.cade #lorem{
    width: 20px;
    display: ;
    padding: 1px;
    gap: 20px;
}
.cade{
    flex-grow: initial;
    gap: 10px;
    margin-top: 10px;
    padding: 20px;
    margin: 0;
   list-style: none;
}

.contact-section {
    display: flex;
    width: 100%;
    min-height: 500px;
margin-top: 100px;
}

.contact-wrapper {
  width: 300%;
  margin-top: ;
  display: flex;
}

.map {
  width: 100%;
  height: 10%;
}

.map iframe {
  width: 180%;
  height: 499px;
  border: 0;
}


.form-area {
    background: url(https://templatemo.com/templates/templatemo_548_training_studio/assets/images/contact-bg.jpg);
  width: 350%;
  position: relative;
  left: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  background: #fff;
  padding: 60px;
  width: 90%;
}

 .row {
  display: flex;
  gap: 15px;

}
.row input {
  width: 100%;
 
}

input, textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
}

textarea {
  height: 120px;
  resize: none;
}

button {
  background: #e53935;
  color: #fff;
  border: none;
  padding: 12px 25px;
  cursor: pointer;
}
footer {
    padding: 30px;
    justify-content: center;
    text-align: center;

}

.hamburger{
    display: none;
}
.mobile-menu{
    display: none;
}
.mobile-menu-actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 180%;
}

.btn-primary, .btn-secondary {
    display: inline-block;
    background-color: #2b2b37;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 1.25rem;
}

.btn-secondary {
    background-color: transparent;
    border: 1px solid white;
}
@media(max-width: 768px){
    
    header{
        height: 0;
    }
    
    .hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #5f6ad4;
    color: white;
    width: 50px;
    height: 50px;
    top: 1rem;
    right: 1rem;
    border-radius: 50%;
    font-size: 1.25rem;
    z-index: 10000;
    cursor: pointer;
  }

  .mobile-menu {
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: #2b2b2b;
    inset: 0;
    color: white;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 9999;
  }

  .mobile-menu[data-visible="true"] {
    transform: translateX(0%);
  }

  .hamburger i[data-visible="true"] {
    display: block;
  }

  .hamburger i[data-visible="false"] {
    display: none;
  }
  .mobile-menu .navigation {
    display: flex;
    margin-top: 5rem;
    gap: 2.5rem;
    align-items: center;
    flex-direction: column;
  }

  .mobile-menu .menus-link {
    flex-direction: column;
    gap: 1.2rem;
    list-style: none;
  }
   .mobile-menu a {
    color: white;
    text-decoration: none;
  }
    .boxs{
        display: flex;
        flex-direction: column;
    }
    .nimco{
        height: 50vh;
    }
    .section{
        width: 80%;
        display: flex;
        flex-direction: column;
    }
    .right{
        width: 60%;
        height: 100%;
        position: relative;
        right: 10%;
        top: auto;
    }
    .phone{
        position: relative;
        left: 80px;
        top: 0;
    }
    .mytable{
        width: 100%;
        height: 70vh;
    }
    .mytable th,
.mytable td{
    
    padding: 10px;
  position: relative;
    left: 3%;
}
.ali{
    display: flex;
    flex-direction: column;
}
  .contact-section{
    display: flex;
    flex-direction: column;
  }  
    .contact-wrapper {
    width: 100%;
  }
  .row{
   
  }
  .form-area{
   width: 100%;
  position: relative;
  left: 0px;
  display: flex;
  margin-inline:auto ;
  }
  .map{

  }

  .row{
    color: #ed563b;
  }
}

   